@model IEnumerable<SQIndustryThree.Models.VehicleRequestModel>
@{
    ViewBag.Title = "_pendingPertialView";
}
<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<font size="2" face="Calibri">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-xs-12" id="personlocdiv">
                <table id="excepReportTable" class="table-bordered table table-responsive">
                    <caption>All Vehicle List</caption>
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Request Number</th>
                            @*<th>Business Unit</th>*@
                            @*<th>Trip Type</th>*@
                            <th>Route Name</th>
                            <th>Preferred Vehicle</th>
                            <th>Starting Point</th>
                            <th>No of User</th>
                            <th>No of Days</th>
                            <th>Travel Strat Date</th>
                            <th>Request By</th>
                            <th>Create Date</th>
                            <th>Action(Comments)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@count</td>
                            <td>@item.VehicleRequesMastertId</td>
                            @*<td>@item.BusinessUnitName</td>*@
                            @*<td>
                          @if(item.TripTypei == 1)
                          {
                                <button>
                                    Round
                                </button>
                                        }
</td>*@
                            <td>@item.RouteTypeName</td>
                            <td>@item.PreferredVehicleName</td>
                            <td>@item.StartingPointName</td>
                            <td>@item.NoofUser</td>
                            <td>@item.NoofDays</td>
                            <td>@item.TravelStratDate</td>
                            <td>@item.UserName</td>
                            <td>@DateTime.Parse(@item.CreateDate).ToString("dd MMM yyyy")</td>
                            <td>
                                @if (item.IsApproved == 1)
                                {
                                    <button type="button" class="btn  btn-block btn-success btn-sm" data-toggle="modal" data-target="#myModal" onclick="VehicleReportDetails(@item.VehicleRequesMastertId,0,'_modalVehicleRequestReportView')" data-idkey="@item.VehicleRequesMastertId">Approved</button>
                                }
                                else if (item.IsApproved == 2)
                                {
                                    <button type="button" class="btn  btn-block btn-danger btn-sm" data-toggle="modal" data-target="#myModal" onclick="VehicleReportDetails(@item.VehicleRequesMastertId,0,'_modalVehicleRequestReportView')" data-idkey="@item.VehicleRequesMastertId">Rejected</button>
                                }
                                else
                                {
                                    <button type="button" class="btn  btn-block btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="VehicleReportDetails(@item.VehicleRequesMastertId,0,'_modalVehicleRequestReportView')" data-idkey="@item.VehicleRequesMastertId">Pending</button>
                                }
                            </td>
                        </tr>
                            count++;

                        }
                    </tbody>

                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</font>

